.header {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 50px;
}
.title {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.link {
  text-decoration: none;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  text-decoration: none;
}
.count {
  color: black;
  width: 30px;
  height: 30px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
